.filters{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.filters *{
  transition: color .5s, background-color .5s;
}

.filters label{
  display: block;
  position: relative;
  padding-left: 10px;
  cursor: pointer;
  margin: 5px 30px;
}

.filters input {
  opacity: 0;
  cursor: pointer;
}

.check{
  position: absolute;
  top: 50%;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
  transform: translateY(-50%);
}

.filters label:hover input ~ .check{
  background-color: grey;
}

.filters input:checked ~ .check {
  background-color: grey;
}
.filters input:checked ~ span {
  color: #F1C40F;
}

.check:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.filters input:checked ~ .check:after {
  display: block;
  background: #F1C40F;
}

/* Style the indicator (dot/circle) */
.filters .check:after {
 	top: 5px;
	left: 5px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: white;
}

#countries-filter{
  transition: .5s;
  margin: 20px 10px;
}
#countries-filter label{
  width: 200px;
  margin: 10px 10px;
}

.beer img{
  width: 200px;
}

#all-beers{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.country{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px;
  padding: 10px;
  background: rgb(27, 38, 49);
  border-radius: 20px;
  box-shadow: 0px 0px 20px black;
  position: relative;
}

.country>img{
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
}

#all-beers h1{
  flex-basis: 100%;
  text-align: center;
}

.beer{
  text-align: center;
  margin: 20px;
}

footer a{
  color: white;
}
