.articulo {
    width: 90%;
    margin: 0 auto 50px;
    padding: 50px;
    text-align: center;
    background: rgb(27, 38, 49);
    border-radius: 20px;
    box-shadow: 0px 0px 30px black;
    max-width: 1000px;
}

.articulo>fieldset {
    border-width: 5px;
    border-color: black;
    border-style: dashed;
    border-radius: 20px;
    margin: 20px auto;
    padding: 10px;
    max-width: fit-content;
}

.articulo>section {
    text-align: center;
}

.imagen {
    margin: 30px auto 10px;
    width: 100px;
}

h1{
  margin: 20px auto;
}
h2{
  font-weight: normal;
  margin: 10px auto;
}
.title{
  font-size: 170%;
  text-decoration: underline;
  margin-bottom: 10px;
}
.seg{
  margin-top: -30px;
}
