@import url('https://fonts.googleapis.com/css2?family=B612&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'B612', sans-serif;
}

body {
    background: rgb(33, 47, 60);
    color: #E5E5E5;
}


/* ---------- HEADER ---------- */

header {
    padding: 10px;
    background: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


/* ---- logo ---- */

header>img {
    height: 100px;
    margin: 0 20px;
}


/* ---- menu ---- */

header>nav {
  display: flex;
  justify-content: center;
}

header>nav>a {
    text-decoration: none;
    color: #E5E5E5;

    margin: 10px 10px;
    padding: 10px;

    border: 2px solid white;
    border-radius: 7px;
}

header>nav>a:hover {
    color: #F1C40F;
}

header>img:hover {
    content: url('../img/Logos/logo1-hover2.png');
}



/* ---------- MAIN ---------- */

/* ---- top beers ---- */

.top_beers{
  width: 80%;
  max-width: 1300px;

  margin: 20px auto;
  overflow: hidden;

  text-align: center;
  background: rgb(27, 38, 49);
  border-radius: 20px;
  box-shadow: 0px 0px 50px black ;
}

.top_beers>h1{
  font-size: 300%;
}

.topBeer{
  float: left;
  width: calc(100%/4);

  padding: 20px;
}

.topBeer>img{
  width: 100%;
}

.topBeer>p:first-of-type{
  color: #F1C40F;
  font-size: 150%;
  margin: 5px 0 20px;
}


/* ---------- FOOTER ---------- */

footer{
  margin: 50px 20px;
  display: flex;
  justify-content: space-between;
}

.tooltip .extra {
    visibility: hidden;
    width: 120px;
    background-color: rgb(33, 47, 60);
    color: #E5E5E5;
    text-align: center;
    text-decoration: wavy;
}

.tooltip:hover .extra {
    visibility: visible;
    border-radius: 2px;
}

/* ---- social media ---- */

.social-media>span{
  background-repeat: no-repeat;
	margin-left: 10px;
	margin-right: 10px;
	padding:10px 20px;
}

.social-media>span:nth-child(1){
  background-image: url('../img/social-media/twitter.svg');
  color: green;
}
.social-media>span:nth-child(2){
  background-image: url('../img/social-media/instagram.svg');
}
.social-media>span:nth-child(3){
  background-image: url('../img/social-media/mail1.svg');
}

/* ---------- MEDIAS ---------- */

@media screen and (max-width: 900px) {
    header>nav {
        flex: 1 0 100%;
        flex-wrap: wrap;
    }
    .topBeer{
      width: calc(100%/2);
    }
}

@media screen and (max-width: 600px) {
    header>nav>a {
        flex: 1 0 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .topBeer{
      width: 100%;
    }

    .topBeer>img{
      width: auto;
      height: 300px;
    }

}
