body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(33, 47, 60);
}


/* ---------- HEADER ---------- */

header {
    padding: 10px;
    background: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


/* ---- logo ---- */

header>img {
    height: 100px;
    margin: 0 20px;
}


/* ---- menu ---- */

header>nav {
  display: flex;
  justify-content: center;
}

header>nav>a {
    text-decoration: none;
    color: #E5E5E5;

    margin: 10px 10px;
    padding: 10px;

    border: 2px solid white;
    border-radius: 7px;
}

header>nav>a:hover {
    color: #F1C40F;
}

header>img:hover {
    content: url('../img/Logos/logo1-hover2.png');
}


/* ---------- MAPA ---------- */

.map>iframe {
    width: 400px;
    height: 400px;
}


/* ---------- FOOTER ---------- */

.tooltip .extra {
    visibility: hidden;
    width: 120px;
    background-color: rgb(33, 47, 60);
    color: #E5E5E5;
    text-align: center;
    text-decoration: wavy;
}

.tooltip:hover .extra {
    visibility: visible;
    border-radius: 2px;
}


/* ---------- MEDIAS ---------- */

@media screen and (max-width: 900px) {
    header>nav {
        flex: 1 0 100%;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 600px) {
    header>nav>a {
        flex: 1 0 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
